<div top-menu/>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign up form</h3>
                </div>
                <div class="panel-body">
                    <form accept-charset="UTF-8" role="form" ng-submit="signUp(user)">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Login" name="login" type="text" ng-model="user.username" ng-required="true">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Full name" name="fullname" type="text" ng-model="user.fullname" required="true">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Email" name="email" type="email" ng-model="user.email" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" ng-model="user.password" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Confirm password" name="confirm-password" type="password" ng-model="user.confpassword" required>
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Create account"/>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>